body{
    font-family: Arial, Helvetica, sans-serif;
}


.navbar a {
  float: left;
  display: block;
  color: #222326;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  background-color: #7AB8BF;
  color: #373740;
}
.formulario-campo{
    display: flex;
    flex: 1;
    gap: 16px;
    justify-content: space-between;
    width: 70%;
    margin-bottom: 16px;
    align-items: center;
}

.formulario-campo label{
    font-weight: 400;
}

.formulario-campo input,
.formulario-campo select,
.formulario-campo textarea{
    width: 300px;
    justify-self: flex-end;
}