.navbar{
    text-align: left;
    overflow: hidden;
    background-color: rgb(255, 43, 198);


}

.navbar a{
    color: rgb(0, 0, 0);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(255, 231, 255);
}
div{
    color: rgb(0, 0, 0);
    text-align: left;
   
}

h1{
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div{
text-align: center;
}