.navbar a {
  float: left;
  display: block;
  color: #222326;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  background-color: #7AB8BF;
  color: #373740;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(255, 231, 255);
}
div{
    color: rgb(0, 0, 0);
    text-align: left;
   
}

h1{
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div{
text-align: center;
}