.navbar a {
  float: left;
  display: block;
  color: #e361dd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  background-color: #7AB8BF;
  color: #000000;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 231, 255);
  
}
div{
    color: rgb(0, 0, 0);
    text-align: center;
}

h1{
    text-align: center;
    color: rgb(0, 0, 0);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

h5{
    align-items: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 1px;
    height: 500px;
    width: 900px;
}

footer{
    text-align: center;
}



