body{
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    text-align:left;
    overflow: hidden;
    background-color: rgb(255, 43, 198);


}
.navbar a{
    color: rgb(0, 0, 0);
}

.formulario-campo{
    display: flex;
    flex: 1;
    gap: 16px;
    justify-content: space-between;
    width: 70%;
    margin-bottom: 16px;
    align-items: center;
}

.formulario-campo label{
    font-weight: 400;
}

.formulario-campo input,
.formulario-campo select,
.formulario-campo textarea{
    width: 300px;
    justify-self: flex-end;
}